.hotAccessoriesMenu{
    display: flex;
    justify-content: center;
}
.hotAccessoriesLink{
    color: rgb(94, 94, 94);
    text-decoration: none;
    margin: 1vmax;
    padding: 0.5vmax 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hotAccessoriesLink:hover{
    color: orangered;
    text-decoration: none;
    border-bottom: 1px solid orangered;
}
.hotAccessoriesLink.active{
    color: orangered;
    border-bottom: 1px solid orangered;
}