.offerSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vmax;
}
.offerSection img{
    transition: all .5s;
}

.offerSection img:hover{
    box-shadow: 6px 6px 15px rgba(53, 53, 53, 0.365);
}